[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "surf"]
	path = surf
	url = https://github.com/guilhermejacob/surf
	shallow = true
	registered = true
